<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>TheOnePieceIsReal</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/jsp/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/jsp/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/jsp/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/jsp/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/jsp/error.jsp</location>
    </error-page>

    <resource-ref>
        <description>DB Connection for TheOnePieceIsReal</description>
        <res-ref-name>jdbc/TheOnePieceIsReal</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>control.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>control.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>control.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>control.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>control.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>control.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>control.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>control.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>control.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WishlistServlet</servlet-name>
        <servlet-class>control.WishlistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WishlistServlet</servlet-name>
        <url-pattern>/WishlistServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>control.CategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchAjaxServlet</servlet-name>
        <servlet-class>control.SearchAjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchAjaxServlet</servlet-name>
        <url-pattern>/SearchAjaxServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckAvailabilityServlet</servlet-name>
        <servlet-class>control.CheckAvailabilityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckAvailabilityServlet</servlet-name>
        <url-pattern>/CheckAvailabilityServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimulatedPaymentServlet</servlet-name>
        <servlet-class>control.SimulatedPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimulatedPaymentServlet</servlet-name>
        <url-pattern>/SimulatedPaymentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimulatedShippingServlet</servlet-name>
        <servlet-class>control.SimulatedShippingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimulatedShippingServlet</servlet-name>
        <url-pattern>/SimulatedShippingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>control.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminProductServlet</servlet-name>
        <servlet-class>control.AdminProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminProductServlet</servlet-name>
        <url-pattern>/AdminProductServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminUserServlet</servlet-name>
        <servlet-class>control.AdminUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUserServlet</servlet-name>
        <url-pattern>/AdminUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminOrderServlet</servlet-name>
        <servlet-class>control.AdminOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminOrderServlet</servlet-name>
        <url-pattern>/AdminOrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FlashMessageServlet</servlet-name>
        <servlet-class>control.FlashMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlashMessageServlet</servlet-name>
        <url-pattern>/FlashMessageServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>control.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CatalogServlet</servlet-name>
        <servlet-class>control.CategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogServlet</servlet-name>
        <url-pattern>/catalog</url-pattern>
    </servlet-mapping>

</web-app>

